@use 'mixins';

// header styling
header {
    @include mixins.flex();
    background-color: var(--crust);
    height: 60px;
    with: 100%;
    transition:
        background 0.5s,
        color 0.5s;

    .wrapper {
        width: 60%;
        @include mixins.flex(center, space-between);
    }

    .header-left {
        a {
            @include mixins.flex();

            img {
                border-radius: 50px;
                border: 2px solid var(--base);
                transition: border 0.5s;
            }
        }
    }

    .header-right {
        width: 20%;
        @include mixins.flex(center, space-evenly);
        a {
            color: var(--text);
            text-decoration: none;
            border-radius: 15px;
            padding: 3px;

            &:hover,
            &:active {
                color: var(--orange);
                background-color: var(--purple);
            }
        }
    }
}
