@use 'mixins';

// home styling
.home-wrapper {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    @include mixins.flex();
    @include mixins.md(100%, 250px);
    @include mixins.sm(100%, 200px);

    .right-content {
        padding-left: 2%;
        display: grid;
        row-gap: 15px;
    }

    img {
        border-radius: 50%;
        @include mixins.md(200px, 200px);
        @include mixins.sm(150px, 150px);
    }
    a {
        color: var(--sapphire);
        font-size: 25px;
        text-decoration: underline transparent;
        border-radius: 15px;
        padding: 3px;
        transition: 0.2s;

        &:hover,
        &:active {
            color: var(--purple);
            text-decoration: underline;
        }
    }
}
