:root {
	--base: #10141c;
    	--pink: #d35c9e;
    	--text: #d6e6f7;
	--subtext0: #b0c0d6;
	--subtext1: #8fa2bb;
        --purple: #7366d3;
        --crust: #080a0f;
        --mantle: #0d1119;
        --sapphire: #3e97e0;
        --surface0: #1a1f2a;
        --surface1: #232a3a;
        --surface2: #2e364a;
	--overlay0: #3b465c;
	--overlay1: #46546d;
	--overlay2: #50607a;
        --yellow: #e6d163;
        --peach: #e89a7a;
       	--green: #68c792;
    	--blue: #2a7dd3;
    	--orange: #e0853e;
    	--sky: #4ebbe6;
    	--red: #e04f5f;
    	--black: #05070b;
}
