:root {
	--base: #1c1624;
    	--pink: #ff6fa3;
    	--text: #f9f6ff;
        --purple: #c77dff;
        --crust: #10091a;
        --mantle: #15101a;
        --sapphire: #5376f5;
        --surface0: #241a36;
        --surface1: #3a2a5c;
        --surface2: #4a3d5f;
        --yellow: #ffe26f;
        --peach: #ffb195;
       	--green: #6de38e;
    	--blue: #7bbdff;
    	--orange: #ff934f;
    	--sky: #9beeff;
    	--red: #ff6e6e;
    	--black: #0a0510;
}
