@use "../global/mixins";
@use "../global/globals";
@use "sections/media";
@use "sections/palette";
@use "sections/projects";
@use "sections/tech";

footer {
  text-align: center;
}

h2 {
  text-align: left;
  @media only screen and (max-width: 700px) {
    text-align: center;
  }
}

.home-wrapper {
  min-width: 300px;
  width: 55%;
  margin: 2% auto 0 auto;
}

.top-content {
  @include mixins.flex(center, flex-start);
  padding-left: 1.5rem;

  @media only screen and (max-width: 700px) {
    padding-left: 0;
    justify-content: center;
  }
  img {
    margin-right: 10px;
    border-radius: 50%;
  }
  h2 {
    margin-bottom: 0;
  }
}

hr {
  border-color: var(--purple);
  margin: 1.5rem 0 1.5rem 0;
}

.about-content {
  text-align: left;
  padding-left: 1.5rem;
  h2 {
    margin-bottom: 10px;
  }
}
