@use '../../global/mixins';

.media-content {
	@include mixins.flex();
	margin-bottom: 10px;
	margin-top: 1.5rem;

	a {
		width: 50px;
		fill: var(--orange);
		transition: fill 0.5s;

		&:hover {
			fill: var(--overlay2);
		}
	}
}
