@use "../../global/mixins";
@use "../../global/globals";

.projects-wrapper {
  h2 {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    @media only screen and (max-width: 700px) {
      padding-left: 0;
    }
  }
}

.projects-content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  @media only screen and (max-width: 700px) {
    margin: 0;
  }
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.project {
  background-color: var(--crust);
  border: 2px solid var(--purple);
  border-radius: 12px;
  aspect-ratio: auto;
  padding: 0.75rem 15px;
  margin: 0;
  min-height: 120px;
  @include mixins.flex(center, space-between, column);

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: var(--purple);
    font-size: clamp(18px, 3vw, 20px);
    text-decoration: none;

    &:hover {
      color: var(--overlay2);
    }
  }

  article {
    font-size: clamp(14px, 2vw, 16px);
    a {
      font-size: clamp(14px, 2vw, 16px);
    }
  }

  .project-top-content {
    @include mixins.flex(flex-start, space-evenly, column);
    height: 70%;
    width: 100%;
    margin-left: 2%;
  }
}
