@use "../../global/mixins";
@use "../../global/globals";

.tech-wrapper {
  margin: 1.5rem;
  h2 {
    margin-bottom: 10px;
  }
}

.tech-content {
  @include mixins.flex(flex-start, flex-start);
  @media only screen and (max-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .languages,
    .frameworks,
    .exploring,
    .setup {
      margin-right: 0;
    }
  }
}

.languages,
.frameworks,
.exploring,
.setup {
  @include mixins.flex(flex-start, center, column);
  margin-right: 5rem;
}

.lang {
  @include mixins.flex(center, center);
  margin: 5px 0 5px 0;
  img {
    margin-right: 10px;
  }
}
